.textarea {
    font-family: var(--fonteSecundaria);
    font-weight: 600;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.campoInput {
    padding: 10px 2px 10px 10ps;
    border: 2px solid var(--fundo);
    border-radius: 20px;
    color: var(--corFonteInput);
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--fonteSecundaria);
    outline: 0;
}

.campoInput:focus {
    border-color: var(--corFonte_secundaria);
}